/* 전체적용 */
body {
  overflow-x: hidden;
}

button {
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  background-color: #444;
  color: #fff;
}

button:hover {
  color: #fff;
  background-color: #831726;
}
.main_img {
  width: 1000px;
  height: 800px;
  object-fit: cover;
}

/* 콘텐츠 14 이미지 사이즈 조절 */

#content15 > img {
  width: 80%;
}

/* .img_section > img {
  width: 100%;
} */

/*메인 사이즈 다운 */

.size_Down {
  width: 1000px;
  object-fit: cover;
}

#content14 > img {
  width: 80%;
}

#content1 img:nth-child(3) {
  width: 1200px;
  object-fit: cover;
}
